/* Importando uma fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* GLOBAL – FUNDO DA PÁGINA */
html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #0d1117; /* GitHub Dark */
  color: #c9d1d9;
  margin: 0;
  min-height: 100%;
}
